
{% set pargraph_container = paragraph.field_paragraph_container.value %}

{%
  set classes = [
    'paragraph',
    pargraph_container,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="wrapper">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
