
#page {
  overflow: hidden;
}

.container,
.field--name-field-landing-page-description,
.view-frontpage  {
  @include container;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.row,
.layout-wrapper,
.region-footer {
  @include make-row;
  > * {
    @extend %col;
  }
}

main[role="main"] {
  margin-bottom: 20px;
}

.layout-sidebar {
  @extend %col;
  margin-top: 40px;
  @extend .is-col-4;
  flex: none;
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  .region-sidebar {
    .block {
      @extend %box;
      margin-bottom: 20px;
    }
  }
}

.clearfix:after {
  display: none;
}


.view-frontpage {
  margin: 40px auto;
  ul.links {
    margin: 20px 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        @include cta(dark);
      }
    }
  }
}