// ========================================
//
// @file _typography.scss
// Base level typography, fonts, colors, sizes
//
// ========================================

html {
  font-size: 50%;
  @media (min-width: $screen-md-min) {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.4;
}

p {
  line-height: 1.4;
}