// ========================================
//
// @file _base.scss
// Base styles
//
// ========================================

body {
  color: $brand-primary;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  @include image('bg-tile.png');
  background-repeat: repeat;
  font-family: $font-text;
  font-weight: 400;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

table {
  width: 100%;
  margin: 20px 0;
  caption {
    @include font-size(2);
  }

  th,td {
    padding: 10px;
  }

  th {
    text-align: left;
    border-bottom: 2px solid $brand-primary-alt;
  }

  td {
    border-bottom: 1px solid $brand-primary-alt;
  }
}

.embedded-entity {
  margin-bottom: 10px;

  img {
    display: block;
    margin: 0 auto;
  }

  &.align-left {
    margin-right: 20px;
  }

  &.aling-right {
    margin-left: 20px;
  }
}

blockquote {
  position: relative;
  margin: 20px 0;
  padding: 20px 0 0 60px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    @include image('quote.svg');
    background-size: contain;
  }
}

.cta {
  @include cta();
}